{{ attach_library('edux/slider') }}
<section class="slider">
  <div class="container slider-container">
    <div class="slider-text">
      <ul class="js-rotating">
        {% if slider_code != '' %}
          {{ slider_code | striptags('<ol>,<ul>,<li>,<p>,<a>,<img>,<video>,<h1>,<h2>,<h3>,<h4>,<h5>,<h6>,<em>,<strong>,<br>,<i>,<button>,<mark>,<hr>') | raw }}
        {% else %}
        <li>
  				<h1>Welcome to Shriram Education Trust</h1>
          <p>Empowering future leaders through quality education in Engineering, Pharmacy, and Schooling.</p>
  				<a class="button-dark" href="#">Get in Touch</a>
  			</li>
  			<li>
          <h1>Shriram Engineering College (SREC)</h1>
          <p>Advanced learning environment with industry-driven curriculum and excellent placement records.</p>
  				<a class="button-dark" href="#">Explore Engineering</a>
  			</li>
  			<li>
  				<h1>Innovative Learning at Shriram Central School</h1>
          <p>Fostering creativity, values, and holistic development from pre-primary to higher secondary.</p>
  				<a class="button-dark" href="#">Visit Our School</a>
  			</li>
        {% endif %}
      </ul> <!--/.home-slider -->
    </div><!-- /slider-text -->
    <div class="slider-image">
      {% if slider_image_path != '' %}
        <img src="{{ slider_image_path }}" alt="slider image" />
      {% else %}
        <img src="{{ directory }}/images/demo/slider.svg" alt="slider image" />
      {% endif %}
    </div><!-- /slider-image -->
  </div> <!--/.container -->
</section>
